API_KEY=000zz999
BASE_URL=https://charlyautomatiza.github.io/task-management-frontend
TASK_MGMT_API_URL=https://task-mgmt-charlyautomatiza.onrender.com
PLAYWRIGHT_DEV_URL=https://playwright.dev
PETSTORE_API_URL=https://petstore.swagger.io/
MOCKAROO_API_URL=https://my.api.mockaroo.com
A11Y_TEST_URL=https://www.washington.edu/accesscomputing/AU/before.html